/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  align-self: stretch;
}

/********************* Overorndet for alle sider ***************/

.none1 {
  display: none;
}

@media (min-width: 800px) {
  .none {
    display: none;
  }
  .grid {
    display: grid;
  }

  .grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 60px;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .container_kasser_1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
